@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
h1, h2 {
  font-family: "Shrikhand", cursive;
  font-size: 24px;
}

a, p, span, h3, h4, h5, li, ul, ol {
  font-family: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.blocGeneral {
  max-width: 500px;
  position: relative;
  z-index: 0;
  width: 100vw;
}

@media screen and (min-width: 501px) {
  .blocGeneral {
    max-width: 1200px;
  }
}
.footer {
  background-color: #323435;
  padding: 25px;
}
.footer__titre {
  color: #fff8f8;
  font-size: 16px;
  font-weight: 300;
}
.footer__liste {
  margin-top: 10px;
  color: #fff8f8;
  list-style: none;
}

.header {
  display: flex;
  background-color: white;
  font-weight: 500;
  justify-content: center;
  box-shadow: 0px 3px 0px #afafaf, 0px 0px 0px #888;
  padding: 10px 0px;
}

.unBouton {
  all: unset;
  cursor: pointer;
  text-align: center;
  padding: 15px 0px;
  width: 225px;
  margin-top: 25px;
  border-radius: 50px;
  background: #9356dc linear-gradient(to left top, transparent, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: all 450ms;
}
.unBouton:hover {
  box-shadow: 0 10px 15px 1px rgba(0, 0, 0, 0.4);
  background-color: #ae80e5;
}

#boutonMenu {
  margin-bottom: 100px;
}

/* SPINNER */
#blocSpinner {
  height: 400px;
  width: 470px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  background: white;
  animation: insideBloc 1s 3s forwards;
}
#blocSpinner h3 {
  margin-bottom: -100px;
}
#blocSpinner h3::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 40%;
  left: 45%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #9356dc;
  border-top-color: #b35cdc;
  border-right-color: #cf64dc;
  border-bottom-color: #ff79da;
  animation: spinner 0.6s linear infinite;
}

/* EXPLORATEUR */
.explorateur {
  display: flex;
  flex-flow: column nowrap;
  background-color: #ebe8e8;
  min-height: 300px;
}
.explorateur__rechercher {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 50px;
  background-color: #d3d3d3;
}
.explorateur__rechercher .iconeGmap {
  display: flex;
  align-items: center;
}
.explorateur__rechercher input {
  all: unset;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: black;
  width: 150px;
}
.explorateur__map {
  padding: 50px 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}
.explorateur__map h3 {
  text-align: center;
  font-size: 24px;
}
.explorateur__map p {
  text-align: center;
}

/* FONCTIONNEMENT */
.fonctionnement {
  margin: 50px 0px;
}
.fonctionnement__titre {
  margin: 0 20px;
}
.fonctionnement__blocks__block {
  background-color: #ebe8e8;
  border-radius: 15px;
  margin: 25px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
}
.fonctionnement__blocks__block .numberCircle {
  color: white;
  font-size: 12px;
  background-color: #9356DC;
  padding: 4px 7px 3px 7px;
  border-radius: 100px;
  margin-left: -10px;
}
.fonctionnement__blocks__block .monIcone {
  margin: 0 20px;
  color: #444444;
}

/* RESTAURANTS */
.restaurants__titre {
  margin: 0 25px;
}
.restaurants__cartes {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.restaurants__cartes__carte {
  display: block;
  height: 200px;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 25px;
  text-decoration: none;
}
.restaurants__cartes__carte img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants__cartes__carte .infosRestaurant {
  height: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
  color: black;
}
.restaurants__cartes__carte .infosRestaurant p {
  font-size: 12px;
}
.restaurants__cartes__carte .infosRestaurant .coeur {
  cursor: pointer;
}
.restaurants__cartes__carte .infosRestaurant .coeur--vide {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.restaurants__cartes__carte .infosRestaurant .coeur--rempli {
  position: relative;
  top: -21px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.restaurants__cartes__carte .infosRestaurant .coeur--rempli .fas {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  line-height: 1;
  z-index: 1;
  background: -webkit-linear-gradient(#9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants__cartes__carte .infosRestaurant .coeur:hover .coeur--vide {
  opacity: 0;
}
.restaurants__cartes__carte .infosRestaurant .coeur:hover .coeur--rempli {
  opacity: 1;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
@keyframes insideBloc {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@media screen and (min-width: 560px) {
  /* FONCTIONNEMENT */
  .fonctionnement {
    margin: 50px 0px;
  }
  .fonctionnement__titre {
    text-align: center;
  }
  .fonctionnement__blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .fonctionnement__blocks__block {
    min-width: 270px;
  }

  /* RESTAURANTS */
  .restaurants__titre {
    margin: 0 25px;
  }
  .restaurants__cartes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .restaurants__cartes__carte {
    min-width: 215px;
  }
}
#entrees .choix {
  animation: fadeInEntrees 1s 0.5s forwards;
}

#plats .choix {
  animation: fadeInEntrees 1s 1s forwards;
}

#desserts .choix {
  animation: fadeInEntrees 1s 1.5s forwards;
}

.unMenu img {
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 0;
  max-height: 335px;
}

.menu {
  z-index: 1;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #ebe8e8;
  margin-top: -50px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.menu__titre {
  min-width: 94%;
  padding: 25px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__etapes {
  width: 100%;
}
.menu__etapes__etape {
  width: 100%;
  margin-bottom: 15px;
}
.menu__etapes__etape p, .menu__etapes__etape .ligne {
  margin: 0 15px;
}
.menu__etapes__etape .ligne {
  height: 2px;
  width: 30px;
  background-color: #99E2D0;
  border-radius: 10px;
  margin-top: 5px;
}
.menu__etapes__etape .choix {
  cursor: pointer;
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  overflow: hidden;
  height: 60px;
}
.menu__etapes__etape .choix .descriptionMenu {
  overflow: hidden;
  white-space: nowrap;
}
.menu__etapes__etape .choix .descriptionMenu h4 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__etapes__etape .choix .detail {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.menu__etapes__etape .choix .detail p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__etapes__etape .choix .blocCheck {
  display: flex;
  align-items: center;
  min-width: fit-content;
}
.menu__etapes__etape .choix .blocCheck p {
  align-self: flex-end;
  font-weight: bold;
  margin: 0px;
  margin-right: 20px;
}
.menu__etapes__etape .choix .blocCheck .partieVerte {
  height: 100%;
  width: 0px;
  background-color: #99E2D0;
  color: white;
  margin: -10px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: right 50%;
  transition: 0.5s ease-in-out;
}
.menu__etapes__etape .choix .blocCheck .partieVerte i {
  transform: rotateZ(-360deg);
  transition: 0.5s ease-in-out;
}
.menu__etapes__etape .choix:hover .blocCheck .partieVerte {
  width: 60px;
  transition: 0.5s ease-in-out;
}
.menu__etapes__etape .choix:hover .blocCheck .partieVerte i {
  transform: rotateZ(0);
  transition: 0.5s ease-in-out 0.1s;
}

@keyframes fadeInEntrees {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@media screen and (min-width: 560px) {
  .menu__etapes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
  .menu__etapes__etape {
    width: 33%;
    min-width: 280px;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
